# Sensitive Environment Variables
*.env
*.tokens
/.tokens
*.db

# Virtual Environments
.venv

# Sensitive Positions Data
positions.csv

# IDE files
*.idea

# python run configs
__pycache__
/__pycache__